<footer class="footer section">
  <p class="phrase">"Feliz pela vida e consciente de que amanhã serei um pouco melhor do que hoje. #Gratidão"</p>
  <div class="socials">
    <a href="https://www.linkedin.com/in/williamdsmachado/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    <a href="https://github.com/will-java" target="_blank" rel="noopener noreferrer">GitHub</a>
    <a href="https://www.youtube.com/@universodigitalti" target="_blank" rel="noopener noreferrer">YouTube</a>
  </div>
  <p>© 2026 William dos Santos Machado</p>
</footer>
